header{
    background: #bbbbbb;
    padding: 20px 0;
    
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
     margin: 40px 0;

}

form label{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

form input{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}


.caixa{
    width: 940px;
    position: relative;
    margin: auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
    color: #000000;

}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}


footer{
    text-align: center;

    background-image: url(/IMG/bg.jpg);
    padding: 40px 0px;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}